html {
  background: #cdeae4;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.header {
  font-family: "Lobster", cursive;
  font-size: x-large;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
}
.footer {
  font-family: "Lobster", cursive;
  font-size: x-large;
  text-align: center;
  margin: 2rem;
  padding: 2rem;
}
