.flex-card {
  background: #d4d7f8;
  font-family: "Lobster", cursive;
  font-size: x-large;
  box-shadow: 0 0 5px #ccc;
  border: 3px;
  border-radius: 40px;
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
  image-rendering: auto;
  flex: 1 0 calc(33.33% - 2rem); /* Adjust the width of the flex card */
  max-width: calc(33.33% - 2rem); /* Set a maximum width for the flex card */
}

.card-image {
  padding: 0.5rem;
  margin: 1rem auto; /* Center the image horizontally */
  width: 80%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  .flex-card {
    flex: 1 0 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }
}
